doctype html
html
  head
    title Home Page
    link(rel='stylesheet', href='/styles/styles.css')
  body
    header
      h1 Agenda de Consultas
      nav
        ul
          li: a(href='/pacientes') Lista de Pacientes
          li: a(href='/horarios') Gestionar Horarios de Médicos
          li: a(href='/turnos') Programar Consulta Médica
          li: a(href='/sobreturnos') Programar Sobreturno
          li: a(href='/actualizarTurnos') Gestión de Estados de Citas
          li: a(href='/agendas') Gestión de Agendas
    main
      p Bienvenido a la aplicación de Agenda de Consultas. Selecciona una opción del menú para continuar.
