doctype html
html
  head
    title Home Page
    link(rel='stylesheet', href='/styles/styles.css')
  body
    header
      h1 Agenda de Consultas
      include nav.pug
    main
      p Bienvenido a la aplicación de Agenda de Consultas. Selecciona una opción del menú para continuar.
