// views/nav.pug
nav#main-nav
  ul
    li: a(href='/') Home
    li: a(href='/pacientes') Lista de Pacientes
    li: a(href='/horarios') Gestionar Horarios de Médicos
    li: a(href='/turnos') Programar Consulta Médica
    li: a(href='/sobreturnos') Programar Sobreturno
    li: a(href='/actualizarTurnos') Gestión de Estados de Citas
    li: a(href='/agendas') Gestión de Agendas