doctype html
html
  head
    title Agenda de Consultas Médicas
    link(rel="stylesheet" href="/styles/styles.css")
    script(src="https://code.jquery.com/jquery-3.6.0.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.3/js/jquery.tablesorter.min.js")
    script.
      $(document).ready(function() {
        $("#pacientesTable").tablesorter();
        $("#formCrearPaciente").hide();
        $("#formBuscarPaciente").hide();
        $("#botonCrear").click(function() {
          $("#formCrearPaciente").toggle();
          $("#formBuscarPaciente").hide();
        });
        $("#botonBuscar").click(function() {
          $("#formBuscarPaciente").toggle();
          $("#formCrearPaciente").hide();
        });
      });
  body
    h1 Pacientes
    include nav.pug
      
    .container
      .side-by-side 
        img(src="/img/crear.svg" id="botonCrear" class="botonPaciente")
        img(src="/img/buscar.svg" id="botonBuscar" class="botonPaciente")

      form#formCrearPaciente.formPaciente(action="/pacientes/create" method="POST")
        input(type="text" name="nombre_completo" placeholder="Nombre Completo" required)
        input(type="text" name="dni" placeholder="DNI" required)
        input(type="text" name="contacto" placeholder="Contacto" required)
        input(type="text" name="obraSocial" placeholder="Obra Social")
        .side-by-side 
            .inline-field
                button(type="submit") Crear Paciente

      form#formBuscarPaciente.formPaciente(action="/pacientes/buscar" method="POST")
        input(type="text" name="nombre_completo" placeholder="Nombre Completo")
        input(type="text" name="dni" placeholder="DNI")
        .side-by-side 
            .inline-field
                button(type="submit") Buscar Paciente
        
      //- List existing Pacientes
      if pacientes.length
        table#pacientesTable.tablesorter
          thead
            tr
              th Nombre Completo
              th DNI
              th Contacto
              th Obra Social
          tbody
            each paciente in pacientes
              tr
                td #{paciente.nombre_completo}
                td #{paciente.dni}
                td #{paciente.informacion_contacto}
                td #{paciente.obra_social}
      else
        p No hay pacientes registrados.